MONGO_URL=your-mongodb-url
DATABASE_NAME=your-database-name
SECRET_KEY=Seckret-Key
AWS_ACCESS_KEY=your-aws-access-key
AWS_SECRET_KEY=your-aws-secret-key
AWS_BUCKET_NAME=your-s3-bucket-name
AWS_REGION=your-aws-region